body{
    overflow-x: hidden !important;
}

.banner_bg{
    position: relative;
    z-index: 0;
    margin-top: -2px;
    /*height: 559px;*/
    width: 1346px;
    margin-left: 412px;
}
.banner_logo{
    margin-left: 587px;
    margin-top: 126px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 547px;
}
.banner_logo1{
    margin-left: -1px;
}

.banner_content{
    margin-left: 183px;
    margin-top: 210px;
}
.homepage_banner_content1{
    color: #00a3de;
    letter-spacing: 0px;
    font-size: 97px;
    margin-left: -126px;
    margin-top: -113px;
}

.homepage_banner_content2{
    color: #ed3337;
    letter-spacing: 2px;
    /*margin-left: -118px;*/
    margin-left: -497px;
    margin-top: 21px;
    font-size: 18px;

}

.homepage_banner_content3{
    color: #696969;
    font-size: 19px;
    margin-left: -118px;
}

.banner_img{
    width: 121%;
    margin-left: -39%;
    margin-top: -46px;
}

.banner1_content{
    font-family: AvantGarde Md BT;
    color: #00a3de;
    font-size: 2.5rem;
    margin-left: 99px;
    margin-top: 83px;
    margin-left: 56px;
    font-size: 56px;
}

.content{
    margin-left: 60px;
    margin-top: 23px;
    font-size: 16px;
}

.nav-link {
    color: #585858;
    padding: 18px 25px;
    display: block;
    transition: background .4s;
    text-decoration: none;
    font-size: 14px;
}

a:hover.nav-link {
    /*background: #00a3de;*/
    color: #00a3de !important;
    font-weight: bold;
}

.navbar-nav li:not(:last-child) {
    border-right: 1px solid #585858;
}

.hide {
    display: none;
}

a {
    font-family: ITC-regular;
}

/*.bdb {*/
    /*border-bottom: 1px solid #acacac;*/
    /*width: 100%;*/
/*}*/

.lmorebtn{
    background-color: white;
    color: #00a3de;
    border-color: #00a3de;
    margin-left: -422px;
    /*margin-left: -284px;*/
    margin-top: 156px;
}

#msend{
    margin-top: 35px;
    /*margin-left: 60px;*/
    /*margin-left: -2px;*/
    height: 77px;
    width: 500px;
}

.form-textextra{
    height:188px;
    width: 500px;
    margin-left: 125px;
}

.captchar{
    width: 128px;
    height: 50px;
    margin-left: 5px;
}

/*start about us*/
.bg_ttubes{
    height: 561px;
    margin-left: -118px;
}

.pediatech_content1{
    font-size: 80px;
    font-family: AvantGarde Md BT;
}

.pediatech_content2{
    font-size: 18px;
}

.products_content1{
    font-size: 80px;
    font-family: AvantGarde Md BT;
}

.products_content2{
    font-size: 18px;
    margin-top: -179px;
}
/*end about us*/

.eztablogo{
    /*margin-left: 41%;*/
    height: 50px;
    margin-top: 80px;
}

.footer {
    background-color: #0aa7df;
    padding: 32px 0 40px;
    color: #fff;
    height: auto;
}

.footer .copyright-text {
    font-size: 13px;
}

h3 {
    font-family: 'itc-bold';
}

.right-content {
    padding: 28px;
}

.fp-tableCell {
    vertical-align: top !important;
}

.form-control{
    width: 60%;
}

.form-inputs{
    margin-top: 35px;
    height: 77px;
    width: 500px;
}

.nav2{
    border-right: 1px solid #fff !important;
}

/*Start Technologies*/
.eztab-title-content1{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.eztabvid{
    width: 50%;
    margin-left: 25%;
}

.suredosesus{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.suredosesus1{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.suredosetech{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.suredosetech1{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.suredosetech_img{
    height: 561px;
    /*margin-left: 30%;*/
}

.suredosetech2{
    margin-left: 583px;
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.tasterite_problem{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.tasterite_problem1{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.tasterite_tech{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.taste2{
    margin-left: 474px;
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.tftech_content1{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.zincplus_vid{
    width: 50%;
    margin-left: 25%;
}

.zincplus1_img{
    padding: 0 293px;
}


/*.zincplus_title_content1{*/
    /*text-align: center;*/
    /*color:#696969;*/
    /*font-size: 18px;*/
    /*margin-left: 5%;*/
/*}*/

.zincplus_tech_content{
    text-align: center;
    color:#696969;
    font-size: 18px;
}

.zincplus_tech_content1{
    text-align: center;
    color:#696969;
    font-size: 18px;
    margin-left: 5%;
}

.zincrw{
    margin-left: 38%;
    text-align: center;
    color:#696969;
    font-size: 18px;
}
/*End Technologies*/